* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}



.header-area {
    width: 100%;
    background: linear-gradient(0deg, rgb(0 0 0), rgba(0, 0, 0, 0.137)), url(images/donation3.jpg);
    background-position: center center;
    background-size: cover;


}

.section-wrap {
    width: 60%;
}

.header-area-content {
    margin: 0 auto;
    text-align: center;
    padding: 200px 0;
    color: #fff;

}

.header-area-content h1 {
    font-size: 62px;
    font-weight: 800;
    line-height: 71px;
    padding-bottom: 20px;
}

.header-area-content p {
    padding-bottom: 40px;
}

.donate-button {

    text-decoration: none;
    color: white;
    padding: 15px 30px;
    background: #ff5959;
    border-radius: 7px;
    font-size: 18px;
}

.donate-today-area {
    width: 100%;

}

.donate-today-area-content {
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}

.donate-today-area-content h1 {
    font-size: 43px;
    font-weight: 600;
    padding-bottom: 20px;
}

.donate-today-area-content p {
    color: #6a6868;
}

.donation-amount {
    text-align: center;
    padding: 23px 40px;
    width: 90%;
    border: none;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 37px;
    margin-top: 20px;
    color: #000000;
    font-size: 19px;
}

.donation-amount:focus-visible {
    outline: none;
}

.flexible-container {
    display: flex;
}

.donate-amount-options {
    margin-top: 20px;
    justify-content: center;
}

.donation-single-amount {
    padding: 38px 38px;
    background: #f3f3f3;
    margin: 0 2px;
    font-size: 22px;
    border-radius: 3px;
    font-weight: 600;
    color: #706f6f;
}

.amount-selected {
    background: #ebc6c3;
    border: 2px solid #ff5959;
<<<<<<< HEAD
  
}

.amount-selected p{
    color:#ff5959; ;
}


footer{
    text-align: center;
    background: #000000;
    color: #fff;
    padding: 30px 0;
}

#footer-slogan{
    color: #ff5959;
    padding-bottom: 20px;;
    font-size: 25px;
}

.donate-plan-area{
    width: 100%;
}

.donate-plan-area-content{
margin: auto;
text-align: center;
width: 80%;

}

.donate-plan-heading-area{
    margin-bottom: 50px;
}

.donate-plan-options{
    display: flex;
    margin-bottom: 30px;
}

.donate-plan-heading-area h1 {
    font-size: 43px;
    font-weight: 600;
    padding-bottom: 20px;
}

.donate-plan-heading-area p {
    color: #6a6868;
}

.donate-plan-single {
    text-align: left;
    margin: 0 20px;
    padding: 40px 20px;
    border-radius: 3px;
}

#bg-color-googsegg{
background: #edf5f6;
}
#bg-color-lightpink{
background: #ffeeee;
}
#bg-color-lightgold{
background: #fff4d6;
}

.donate-plan-single img{
    width: 43px;
}
.donate-plan-single h2{
    font-size: 20px;
    padding: 10px 0;
}

.donate-plan-single p{
    font-size: 13px;
    color: rgb(100, 98, 98);
}
